<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styling/kitchen.css">
    <script type = "text/javascript" src = "../static/js/kitchen.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Kitchen - List of Current Orders</h1>
    {% for row in database %}
        <tr>
        <div class = "orderBlock">
            <h5 class = "order_num">Order Number: {{row.id}}</h5>
            <h5 class = "customer">Customer: {{row.customer_name}}</h5>
            <ul class = "list">
                {% for item in row.orders.split('\n') %}
                    {% if item %}
                    <li>{{item}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <a href = "/delete/{{row.id}}"><div class = "deleteEnt">Delete</div></a>
        </div>
        </tr>
    {% endfor %}
<script type = "text/javascript">refresh_page()</script>
</body>
</html>