<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styling/mainStyle.css">
    <script type = "text/javascript" src = "../static/js/mainMenu.js"></script>
    <title>Document</title>
</head>
<body>
    <form action = "http://127.0.0.1:5000/submit", method="post">
        <div id = "header">
            <h3>
                McDonald's Menu
            </h3>
            <p>
                McDonald's is the world's largest chain of hamburger fast food restaurants founded in 1940. 
                It features various burgers, types of chicken, chicken sandwhiches, French fries, soft drinks,
                breakfast items and desserts. In most markets, McDonalds offers salads and vegetarian items, 
                wraps and so on.
            </p>
        </div>
        <div id = "mainMenu">
            <br>
            <h3 id = "mainMen">
                Main Menu
            </h3>
            <img id = big_mac src = "..\static\images\burgers\big_mac.jpeg"><a id = burgersLabel href = "www.google.com">Burgers and Fries</a>
            <img id = coca_cola src = "..\static\images\drinks\coca-cola.jpeg"><a id = "drinksLabel" href = "www.google.com">Drinks</a>
            <img id = mocha_latte src = "..\static\images\coffees\mocha_latte.jpeg"><a href = "www.google.com">Coffees</a>
            <img id = mcflurry src = "..\static\images\desserts\McFlurry.jpeg"><a id = "dessert" href = "www.google.com">Desserts</a>
        </div>
        <div id = "orderSummary">
            <h3 id = "orderTitle">Order Summary</h3>
            <textarea name = "order_text" id = "order_text"></textarea>
            <label for = "customer_name" id = "customer_label">Customer Name: </label>
            <input name = "customer_name" id = "customer_name" type = "text">
            <input type ="submit" name = "submit_order" id = "submit_order" onclick= "clicked();">
        </div>
        <div id = "BFC">
            <h3 id = "burgersTitle">
                Burgers, Fries, and Co.
            </h3>
            <img id = big_mac2 src = "..\static\images\burgers\big_mac.jpeg"><input name = "big_mac_num" id = "big_mac_num" type = "number"><label for = "big_mac_num" id = "big_mac_label">Big Mac</label>
            <img id = cheeseburger src = "..\static\images\burgers\cheeseburger.jpeg"><input name = "cheeseB_num" id = "cheeseB_num" type = "number"><label for = "cheeseB_num" id = "cheeseB_label">Cheesburger</label>
            <img id = quarter_pounder src = "..\static\images\burgers\quarter_pounder.jpeg"><input name = "q_pounder_num" id = "q_pounder_num" type = "number"><label for = "q_pounder_num" id = "q_pounder_label">Quarter Pounder</label>
            <img id = fries src = "..\static\images\burgers\fries.jpeg"><input name = "fries_num" id = "fries_num" type = "number"><label for = "fries_num" id = "fries_label">French Fries</label>
        </div>
        <div id = "drinks">
            <h3 id = "drink_title">Drinks</h3>
            <img id = coca_cola2 src = "..\static\images\drinks\coca-cola.jpeg"><input name = "coca_cola_num" id = "coca_cola_num" type = "number"><label for = "coca_cola_num" id = "coca_cola_label">Coca Cola</label>
            <img id = dr_pepper src = "..\static\images\drinks\dr_pepper.jpeg"><input name = "dr_pepper_num" id = "dr_pepper_num" type = "number"><label for = "dr_pepper_num" id = "dr_pepper_label">Dr. Pepper</label>
            <img id = fanta_orange src = "..\static\images\drinks\fanta_orange.jpeg"><input name = "fanta_num" id = "fanta_num" type = "number"><label for = "fanta_num" id = "fanta_label">Fanta Orange</label>
            <img id = sprite src = "..\static\images\drinks\sprite.jpeg"><input name = "sprite_num" id = "sprite_num" type = "number"><label for = "sprite_num" id = "sprite_label">Sprite</label>
        </div>
        <div id = "coffees">
            <h3 id = "coffee_title">Coffee</h3>
            <img id = cappuccino src = "..\static\images\coffees\cappuccino.jpeg"><input name = "cappuccino_num" id = "cappuccino_num" type = "number"><label for = "cappuccino_num" id = "cappuccino_label">Cappuccino</label>
            <img id = caramel src = "..\static\images\coffees\caramel_macchiato.jpeg"><input name = "caramel_num" id = "caramel_num" type = "number"><label for = "caramel_num" id = "caramel_label">Caramel Macchiato</label>
            <img id = mocha src = "..\static\images\coffees\iced_mocha.jpeg"><input name = "mocha_num" id = "mocha_num" type = "number"><label for = "mocha_num" id = "mocha_label">Iced Mocha</label>
            <img id = latte src = "..\static\images\coffees\mocha_latte.jpeg"><input name = "lattee_num" id = "latte_num" type = "number"><label for = "latte_num" id = "latte_label">Mocha Latte</label>
        </div>
        <div id = "desserts">
            <h3 id = "dessertTitle">Desserts</h3>
            <img id = apple src = "..\static\images\desserts\baked_apple_pie.jpeg"><input name = "pie_num" id = "pie_num" type = "number"><label for = "pie_num" id = "pie_label">Apple Pie</label>
            <img id = cookie src = "..\static\images\desserts\chocolate_chips_cookie.jpeg"><input name = "cookie_num" id = "cookie_num" type = "number"><label for = "cookie_num" id = "cookie_label">Cookies</label>
            <img id = sundae src = "..\static\images\desserts\hot_fudge_sundae.jpeg"><input name = "sundae_num" id = "sundae_num" type = "number"><label for = "sundae_num" id = "sundae_label">Hot Fudge Sundae</label>
            <img id = flurry src = "..\static\images\desserts\McFlurry.jpeg"><input name = "flurry_num" id = "flurry_num" type = "number"><label for = "flurry_num" id = "flurry_label">McFlurry</label>
        </div>
        <div>
        </div>
        <script type = "text/javascript">main_driver()</script>
    </form>
</body>
</html>