<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type = "text/javascript" src = "./static/js/mainMenu.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Order Summary</h1>
    <h2 name = "order_num" id = "order_num">Order Number: {{num}}</h2>
    <h2>Customer Name: {{name}}</h2>
    <ul>
        {% for food in order %}
            <li>{{food}}</li>
        {% endfor %}
    </ul>
    <script type = "text/javascript">returnHome()</script>
</body>
</html>