body{
    background-color: red;

}
#header{
    position: relative;
    text-align: center;
    margin: 0px 90px 0px 90px;
}
p{
    position: relative;
    text-align: center;
    color: white;
}
textarea{
    width: 390px;
    height: 280px;
}
#orderSummary{
    position: relative;
    left: 780px;
    top: -302px;
    margin: 10px 10px 10px 10px;
    width: 340px;
}
#mainMenu{
    position: relative;
    width: 780px;
    height: 320px;
    color:white;
}
h3{
    color: white;
}
#big_mac, #coca_cola, #mocha_latte, #mcflurry{
    position: relative;
    left: 100px;
    height: 160px;
    width:140px;
}
#orderTitle{
    position: relative;
    text-align: center;
}
img{
    position: relative;
    width: 140px;
    height: 160px;
    z-index: -1;
    margin: 0px 5px 0px 5px;
}
#mainMen{
    position: relative;
    width: 200px;
    left: 361px;
}
a{
    position: relative;
    top: -4px;
    z-index: 1;
}
#burgersLabel{
    left: -30px
}
#drinksLabel{
    left: 45px;
}
#mcflurry{
    top: -164px;
    left: 254px;
}
#dessert{
    top: -168px;
    left: 150px;
}
#coca_cola{
    left: 142px;
}
#big_mac{
    left: 97px;
}
#BFC{
    position: relative;
    top: -400px;
    width: 740px;
    margin: 10px 0px 10px 0px;
}
#burgersTitle{
    position: relative;
    left: 320px;
}
#big_mac2{
    left: 96px;
    height: 160px;
    width:140px;
}
#cheeseburger{
    left: 5px;
    height: 160px;
    width: 140px;
}
#quarter_pounder{
    left: -112px;
    height: 160px;
    width: 140px;
}
#fries{
    top: -167px;
    left: 455px;
}
input{
    position: relative;
    top: 18px;
    width: 30px;
}
#big_mac_label{
    position: relative;
    left: -43px;
    top: -1px;
}
#cheeseB_num{
    left: -90px;
}
#cheeseB_label{
    position: relative;
    left: -147px;
    top: -2px;
}
#q_pounder_num{
    left: -204px;
}
#q_pounder_label{
    position: relative;
    left: 430px;
    top: -168px;
}
#fries_num{
    left: 360px;
    top: -148px;
}
#fries_label{
    position: relative;
    left: 300px;
    top: -168px;
}
#drinks{
    position: relative;
    top: -530px;
}
#drink_title{
    position: relative;
    width: 770px;
    top: 0px;
    left: 379px;
}
#coca_cola2{
    left: 97px;
    top: 0px;
}
#dr_pepper{
    left: -6px;
    top: 0px;
}
#fanta_orange{
    left: -111px;
    top: 0px;
}
#sprite{
    left: -233px;
    top: 0px;
}
#coca_cola_num{
    top: 19px;
}
#coca_cola_label{
    position: relative;
    top: -1px;
    left: -50px;
}
#dr_pepper_num{
    top: 19px;
    left: -100px;
}
#dr_pepper_label{
    position: relative;
    top: -1px;
    left: -155px;
}
#fanta_num{
    top: 19px;
    left: -202px;
}
#fanta_label{
    position: relative;
    top: -1px;
    left: -265px;
}
#sprite_num{
    top: 19px;
    left: -327px; 
}
#sprite_label{
    position: relative;
    top: -4px;
    left: -366px; 
}
#coffees{
    position: relative;
    top: -500px;
}
#coffee_title{
    position: relative;
    left: 382px;
}
#cappuccino{
    left: 97px;
}
#caramel{
    left: -16px;
}
#mocha{
    top: -1px;
    left: -179px;
}
#latte{
    left: -292px
}
#cappuccino_label{
    position: relative;
    top: -1px;
    left: -58px;
}
#caramel_num{
    left: -110px;
}
#caramel_label{
    position: relative;
    left: -190px;
    top: -1px;
}
#mocha_num{
    left: -270px;
}
#mocha_label{
    position: relative;
    left: -332px;
    top: -1px;
}
#latte_num{
    top: 19px;
    left: -385px;
}
#latte_label{
    position: relative;
    left: -440px;
    top: -1px;
}
#desserts{
    position: relative;
    top: -450px;
}
#dessertTitle{
    position: relative;
    left: 220px;
}
#apple{
    left: 96px;
}
#cookie{
    left: -5px;
}
#sundae{
    left: -93px;
}
#flurry{
    left: -250px;
}
#pie_num{
    left: 5px;
}
#cookie_num{
    left: -90px;
}
#sundae_num{
    left: -185px;
}
#flurry_num{
    left: -343px;
}
#pie_label{
    position: relative;
    left: -44px;
    top: -1px;
}
#cookie_label{
    position: relative;
    left: -139px;
    top: -1px;
}
#sundae_label{
    position: relative;
    left: -267px;
    top: -1px;
}
#flurry_label{
    position: relative;
    left: -399px;
    top: -1px;
}
#customer_name{
    position: relative;
    width: 170px;
    left: 80px;
    top: 3px;
}
#customer_label{
    position: relative;
    left: 79px;
    top: 5px;
    color: white;
}
#submit_order{
    position: relative;
    width: 65px;
    left: 160px;
    top: 20px;
}